
/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:18px;
}

/* header - regole generali*/

header{
    width:100%;
    height: 450px;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;;
}

/* barra navigazione top */
.topbar{
    margin-top:30px;
    width:80%;
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color:#fff;
}

.topbar ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
    flex-basis: 40%;
}

.topbar ul li{
    margin: 10px;
}
.topbar a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.topbar ul a:hover{
    color:rgb(96, 237, 101);
    text-decoration: underline;
}

/* Pulsanti */
.btn{
    margin: 0 10px;
    border-radius: 25px;
    padding:7px 10px;
    text-decoration: none;
}

.btn.white{
    background-color: #fff;
    color:black;
}

.btn.white:hover{
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
    color:mediumslateblue;
}


.btn.black{
    background-color: black;
    color:#fff;
}

.btn.black:hover{
    box-shadow: 1px 3px 3px rgb(93, 91, 91);

}

.btn.purple{
    background-color: mediumpurple;
    color:#fff;
}

.btn.purple:hover{
    box-shadow: 1px 3px 3px mediumpurple;
    background-color: plum;
}

/* jumbotron */
.jumbotron{
    width:80%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;

}

h1{
    flex-basis: 20%;
    color: #fff;
    font-size: 40px;
}

sub{
    flex-basis: 30%;
    line-height: 150%;
    font-size: 18px;
    text-align: center;
    margin: 0 20%;
    color:white;
}

.main-cta{
    flex-basis:20%;
    margin-top: 0;
    margin-bottom: 10px;
}

/* main - regole generali */
main{
    background-color: #fff;
}

/* colonne */
.flex-col{
    margin:5% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.box{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.odd{
    flex-direction: row-reverse;
    justify-content: center;
    background-color: lightgrey;
}
.text{
    width:250px;
    line-height: 150%;
}
.text h2{
    margin-bottom:30px;
    font-size: 36px;
    line-height: 120%;
}

/* chiusura main */
.grey{
    background-color: lightgrey;
    background-size: cover;
    justify-content: space-around;
    padding: 5% 0;
    margin:0;
}

.grey h2{
    font-size: 36px;
}

.grey p{
    text-align: center;
    line-height: 150%;
    font-size: 18px;
    width: 700px;
    margin-top: 50px;
}

.grey h3{
    margin-bottom: 50px;
    font-size: 32px;
}
/* footer - regole generali */
footer{
    width:100%;
    height:auto;
    background-color: rgb(2, 2, 44);
    color:#fff;
    margin: 5% 10%; 
}

.footerflex{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.contatti{
    flex-basis: 30%;
}

.bottomnav{
    flex-basis: 70%;

    display:flex;
    justify-content: space-between;
    align-items: flex-start;

    list-style: none;
}

.chiusura{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3px solid lightgray;
}